* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
body .register-form {
  padding: 50px;
  height: 100%;
  font-size: 1rem;
}
body .register-form .outer-container {
  height: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
body .register-form .outer-container .heading {
  color: rgb(26, 26, 26);
  font-size: 2rem;
  margin-bottom: 30px;
}
body .register-form .outer-container .heading .dot {
  font-size: 75px;
  color: #d4004a;
  line-height: 50px;
}
body .register-form .outer-container .form-container {
  overflow-y: auto;
  max-width: 25rem;
  min-width: 20rem;
  height: auto;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 20px 20px 60px #d5d5d5, -20px -20px 60px #ffffff;
}
body .register-form .outer-container .form-container .register-heading {
  width: 100%;
  height: 60px;
  background-color: #d4004a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
body .register-form .outer-container .form-container .form {
  margin: 25px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
body .register-form .outer-container .form-container .form .register-button {
  margin-top: 1em;
}
body .register-form .outer-container .form-container .form .register-button button.register {
  width: 100%;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #d4004a;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}
body .register-form .outer-container .form-container .form .register-button button.register:hover {
  background-color: #eb0052;
}
body .register-form .outer-container .form-container .form .register-button .already-user {
  text-align: center;
  margin: 10px 0;
}
body .register-form .outer-container .form-container .form .register-button .already-user a {
  color: #eb0052;
}
body .register-form .outer-container .form-container .form .input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .register-form .outer-container .form-container .form .input-field label {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
body .register-form .outer-container .form-container .form .input-field .input {
  padding: 20px;
  color: rgb(0, 0, 0);
  height: 3rem;
  border-radius: 10px;
  border: 1px solid rgb(247, 247, 247);
  background-color: white;
}
body .register-form .outer-container .form-container .form .input-field .input:focus-visible {
  outline-color: #eb0052;
}
body .register-form .outer-container .form-container .form .input-field .names {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
body .register-form .outer-container .form-container .form .input-field .names .name {
  padding: 20px;
  color: rgb(53, 53, 53);
  width: 50%;
  height: 3rem;
  border-radius: 10px;
  border: none;
  background-color: white;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
  body .heading {
    font-size: 1.7rem !important;
  }
}/*# sourceMappingURL=register-style.css.map */