* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
      35deg,
      rgba(6, 2, 3, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgb(17, 0, 3) 100%
    )
    no-repeat;

  .register-form {
    padding: 50px;
    height: 100%;
    font-size: 1rem;
    .outer-container {
      height: 100%;
      padding-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0 8px 32px 0 #d4004a3f;
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      font-size: 1rem;
      .heading {
        color: white;
        font-size: 2rem;
        .dot {
          font-size: 75px;
          color: #d4004a;
          line-height: 50px;
        }
      }
      .form-container {
        overflow-y: auto;
        max-width: 25rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.76);
        margin: 20px 20px;
        border-radius: 10px;
        // border: 1px solid #fc045bd3;
        .register-heading {
          width: 100%;
          height: 60px;
          background-color: #d4004a;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 1.2rem;
          font-weight: 600;
        }
        .form {
          margin: 25px;
          height: 65%;
          min-height: 400px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          .register-button {
            margin-top: 2em;
            button.register {
              width: 100%;
              height: 60px;
              font-size: 1.2rem;
              font-weight: 600;
              background-color: #d4004a;
              border-radius: 10px;
              border: none;
              color: white;
              cursor: pointer;
              transition: all 0.15s;

              &:hover {
                background-color: #eb0052;
              }
            }
          }
          .input-field {
            display: flex;
            flex-direction: column;
            gap: 10px;
            label {
              color: rgb(219, 219, 219);
            }
            .input {
              padding: 20px;
              color: white;
              height: 3rem;
              border-radius: 10px;
              border: none;
              background-color: rgb(26, 26, 26);
            }
            .names {
              display: flex;
              flex-direction: row;
              width: 100%;
              gap: 10px;
              .name {
                padding: 20px;
                color: white;
                width: 50%;
                height: 3rem;
                border-radius: 10px;
                border: none;
                background-color: rgb(26, 26, 26);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
}
