* {
  margin: 0;
  padding: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );

  .gallery-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
    align-items: center;

    .gallery {
      margin-top: 25px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
      .card {
        border-radius: 10px;
        background: #f0f0f0;
        box-shadow: 20px 20px 60px #cccccc, -20px -20px 60px #ffffff;
        max-width: 400px;
        width: 100%;
        min-height: 400px;
        overflow-y: auto;
        h1 {
          font-size: 20px;
          margin-top: 15px;
        }
        p {
          font-size: 14px;
          margin-bottom: 15px;
        }
        h1,
        p {
          margin: 0 15px;
        }
        img {
          height: 70%;
          width: 100%;
          background-position: center;
        }
      }
    }
    .title {
      font-weight: 900;
      font-size: 40px;
      text-align: center;
    }
    .text {
      margin-top: 10px;
      text-align: center;
    }
  }
}
@media screen and (max-width: 768px) {
  body .gallery-container {
    .gallery {
      grid-template-columns: 1fr 1fr !important;
      .card {
        margin: 10px;
        overflow-y: auto;

        h1 {
          font-size: 18px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
@media screen and (max-width: 568px) {
  body .gallery-container {
    .gallery {
      grid-template-columns: 1fr !important;
    }
  }
}
